{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations du Groupe GEFOR</h1>

    <table class="table">
        <thead>
            <tr> 
                <th>Id</th>
                <th>Nom de la formation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                <td>
                    <a href="{{ path('app_formations_show', {'id': formation.id}) }}">Consulter</a>
                    <a href="{{ path('app_formations_edit', {'id': formation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formations_new') }}">Créer nouvelle</a>
{% endblock %}
